html {
  box-sizing: border-box;
  user-select: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

fieldset {
  padding: 0;
  border: none;
}

body {
  background: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.heading {
  width: 320px;
  margin: 0 auto 32px;
  font-size: 80px;
  text-align: center;
  color: var(--heading-color);
  -webkit-text-stroke: 12px var(--stroke-color);
  paint-order: stroke fill;
}

.menu-button-group {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.menu-button {
  display: block;
  padding: 28px 100px;
  font-size: 32px;
  border: none;
  border-radius: 16px;
  color: var(--menu-button-color);
  transition: background-color .3s;
}

.start-button {
  background-color: var(--start-button-background-color);
  border: 8px solid var(--start-button-border-color);

  &:hover {
    background-color: var(--start-button-background-color-hover);
  }

  &:active {
    background-color: var(--start-button-background-color-active);
  }
}

.records-button {
  background-color: var(--records-button-background-color);
  border: 8px solid var(--records-button-border-color);

  &:hover {
    background-color: var(--records-button-background-color-hover);
  }

  &:active {
    background-color: var(--records-button-background-color-active);
  }
}

.settings-button {
  background-color: var(--settings-button-background-color);
  border: 8px solid var(--settings-button-border-color);

  &:hover {
    background-color: var(--settings-button-background-color-hover);
  }

  &:active {
    background-color: var(--settings-button-background-color-active);
  }
}

.settings-form {
  display: none;
  padding: 24px 60px;

  background-color: var(--settings-form-background-color);
  border: 8px solid var(--settings-form-border-color);
  border-radius: 20px;

  font-size: 28px;
  color: var(--settings-form-color);
}

.settings-button-group {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.fieldset {
  margin: 0 0 32px 0;
}

.fieldset-legend {
  margin-bottom: 16px;
  font-size: 20px;
}

.fieldset-label {
  font-size: 20px;
  position: relative;
  cursor: pointer;
}

.fieldset-radio-list {
  display: block;

  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.radio-button {
  display: none;
}

.fake-radio {
  width: 28px;
  height: 28px;
  display: inline-block;
  border: 4px solid var(--fake-radio-border-color);
  border-radius: 16px;
  position: relative;
}

.fake-radio::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 12px;
  height: 12px;
  background-color: var(--fake-radio-before-background-color);
  border-radius: 12px;
  transition: .2s;
  opacity: 0;
}

.radio-button:checked+.fake-radio::before {
  opacity: 1;
}

.red {
  border: 4px solid var(--fake-radio-border-color-red);

  &::before {
    background-color: var(--fake-radio-before-background-color-red);
  }
}

.violet {
  border: 4px solid var(--fake-radio-border-color-violet);

  &::before {
    background-color: var(--fake-radio-before-background-color-violet);
  }
}

.button {
  display: block;
  padding: 8px;
  font-size: 20px;
  border: none;
  border-radius: 16px;
  color: var(--button-color);
  transition: background-color .3s;
}

.apply-button {
  background-color: var(--apply-button-background-color);

  &:hover {
    background-color: var(--apply-button-background-color-hover);
  }

  &:active {
    background-color: var(--apply-button-background-color-active);
  }
}

.playing-field {
  display: none;
  margin: 0 auto 56px;

  padding: 20px;
  background-color: var(--playing-field-background-color);
  border: 8px solid var(--playing-field-border-color);
  border-radius: 20px;
}

.test {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;

  width: 224px;
}

.easy {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;

  width: 400px;
}

.medium {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 8px;

  width: 576px;
}

.hard {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 8px;

  width: 752px;
}

.stop-button {
  display: none;
  justify-content: center;
  margin: 0 auto;
  padding: 12px 32px;
  font-size: 24px;
  border-radius: 16px;
  color: var(--playing-field-stop-button-color);
  background-color: var(--playing-field-stop-button-background-color);
  border: none;
}

.card {
  width: 80px;
  height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--card-background-color);
  border: 4px solid var(--card-border-color);
  cursor: pointer;

  color: transparent;
  font-size: 0;
  text-align: center;

  transition: background-color .3s;

  &:hover {
    background-color: var(--card-background-color-hover);
  }

  &:active {
    background-color: var(--card-background-color-active);
  }
}

.open {
  color: var(--card-open-color);
  font-size: 32px;
  cursor: default;
  background-color: var(--card-open-background-color);
  border: 4px solid var(--card-open-border-color);

  &:hover {
    background-color: var(--card-open-background-color-hover);
  }

  &:active {
    background-color: var(--card-open-background-color-active);
  }
}

.success {
  color: var(--card-success-color);
  font-size: 32px;
  cursor: default;
  background-color: var(--card-success-background-color);
  border: 4px solid var(--card-success-border-color);

  &:hover {
    background-color: var(--card-success-background-color-hover);
  }

  &:active {
    background-color: var(--card-success-background-color-active);
  }
}

.modal {
  display: none;

  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  transition: display .3s;

  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;

  background-color: rgba(0, 0, 0, 0.7);
}

.modal-is-active {
  display: flex;
  animation: modal 0.4s alternate ease;
}

.modal-content {
  width: 400px;
  height: 200px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--modal-content-background-color);
  border: 8px solid var(--modal-content-border-color);
  border-radius: 20px;
}

.modal-text {
  margin: 0 auto 28px;
  padding: 8px 12px;

  font-size: 24px;
  color: var(--modal-text-color);
  background-color: var(--modal-text-background-color);
  border: 8px solid var(--modal-text-border-color);
  border-radius: 20px;
}

.modal-button {
  display: block;

  padding: 12px 64px;

  background-color: var(--modal-button-background-color);
  border: 4px solid var(--modal-button-border-color);
  border-radius: 20px;
  color: var(--modal-button-color);
  font-size: 24px;

  transition: background-color .3s;

  &:hover {
    background-color: var(--modal-button-background-color-hover);
  }

  &:active {
    background-color: var(--modal-button-background-color-active);
  }
}

@keyframes modal {
  0% {
    opacity: 0;
  }

  ;

  100% {
    opacity: 1;
  }

  ;
}

.stopwatch {
  display: none;
  color: var(--stopwatch-color);
  justify-content: center;
  padding: 28px;
  font-size: 24px;
}

.timer {
  display: none;
  color: var(--timer-color);
  justify-content: center;
  padding: 28px;
  font-size: 24px;
}

.timer-attention {
  color: var(--timer-attention-color);
}

/* Шрифты */
.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
